Node-RED_Flows/Lab5_flow.json
[{"id":"654bf09c.a27fc","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"3780d328.58592c","type":"file in","z":"654bf09c.a27fc","name":"Theta Dot","filename":"/tmp/thetadot.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":500,"y":440,"wires":[["bb86f136.1dbe9"]]},{"id":"f619e001.358fa","type":"file in","z":"654bf09c.a27fc","name":"X Dot","filename":"/tmp/xdot.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":490,"y":380,"wires":[["2de00086.2df9e"]]},{"id":"39b723f1.23291c","type":"file in","z":"654bf09c.a27fc","name":"PDR","filename":"/tmp/PDR.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":490,"y":300,"wires":[["c8a43cb.f1da6c"]]},{"id":"9fae6ea0.61e6a","type":"file in","z":"654bf09c.a27fc","name":"PDL","filename":"/tmp/PDL.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":490,"y":240,"wires":[["8a329d6b.c7296"]]},{"id":"8a329d6b.c7296","type":"ui_chart","z":"654bf09c.a27fc","name":"","group":"911e1c43.9ced2","order":6,"width":0,"height":0,"label":"Left Wheel (rad/s)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-10","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":810,"y":240,"wires":[[]]},{"id":"c8a43cb.f1da6c","type":"ui_chart","z":"654bf09c.a27fc","name":"","group":"911e1c43.9ced2","order":7,"width":0,"height":0,"label":"Right Wheel (rad/s)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-10","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":810,"y":300,"wires":[[]]},{"id":"2de00086.2df9e","type":"ui_chart","z":"654bf09c.a27fc","name":"","group":"911e1c43.9ced2","order":8,"width":0,"height":0,"label":"Foward Velocity (m/s)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-.5","ymax":".5","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":820,"y":380,"wires":[[]]},{"id":"bb86f136.1dbe9","type":"ui_chart","z":"654bf09c.a27fc","name":"","group":"911e1c43.9ced2","order":9,"width":0,"height":0,"label":"Angular Velocity (rad/s)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-3.5","ymax":"3.5","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":830,"y":440,"wires":[[]]},{"id":"da857e69.832e8","type":"inject","z":"654bf09c.a27fc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":".5","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":320,"wires":[["9fae6ea0.61e6a","39b723f1.23291c","f619e001.358fa","3780d328.58592c"]]},{"id":"911e1c43.9ced2","type":"ui_group","name":"A","tab":"41ca5319.82848c","order":1,"disp":true,"width":"6","collapse":false},{"id":"41ca5319.82848c","type":"ui_tab","name":"Lab2","icon":"dashboard","order":1,"disabled":false,"hidden":false}]