Node-RED_Flows/Lab6_flow.json
[{"id":"bf23a047.88e85","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"367c3921.bafd46","type":"inject","z":"bf23a047.88e85","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":".1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":360,"wires":[["f95bb77c.60c598","983d16e2.7d5668","9ac7835f.37682","cc27c9c.fe4d438"]]},{"id":"983d16e2.7d5668","type":"file in","z":"bf23a047.88e85","name":"Degrees","filename":"/tmp/degrees.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":370,"y":400,"wires":[["c3462573.0d55f8"]]},{"id":"f95bb77c.60c598","type":"file in","z":"bf23a047.88e85","name":"Distance","filename":"/tmp/dist.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":370,"y":340,"wires":[["43a0a02b.9cfc1"]]},{"id":"43a0a02b.9cfc1","type":"ui_chart","z":"bf23a047.88e85","name":"Distance (m)","group":"911e1c43.9ced2","order":10,"width":0,"height":0,"label":"Object Distance (m)","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"2","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":710,"y":340,"wires":[[]]},{"id":"c3462573.0d55f8","type":"ui_gauge","z":"bf23a047.88e85","name":"Degree","group":"911e1c43.9ced2","order":11,"width":0,"height":0,"gtype":"compass","title":"Degree","label":"units","format":"{{value}}","min":"-180","max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":400,"wires":[]},{"id":"33a6864f.fb58fa","type":"ui_chart","z":"bf23a047.88e85","name":"X","group":"911e1c43.9ced2","order":10,"width":0,"height":0,"label":"X coodinate","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"2","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":670,"y":460,"wires":[[]]},{"id":"222ab93e.1e8b66","type":"ui_chart","z":"bf23a047.88e85","name":"Y","group":"911e1c43.9ced2","order":10,"width":0,"height":0,"label":"Y coordinate","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"2","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":670,"y":520,"wires":[[]]},{"id":"cc27c9c.fe4d438","type":"file in","z":"bf23a047.88e85","name":"Y coordinate","filename":"/tmp/ycord.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":390,"y":520,"wires":[["222ab93e.1e8b66"]]},{"id":"9ac7835f.37682","type":"file in","z":"bf23a047.88e85","name":"X coordinate","filename":"/tmp/xcord.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":390,"y":460,"wires":[["33a6864f.fb58fa"]]},{"id":"911e1c43.9ced2","type":"ui_group","name":"A","tab":"41ca5319.82848c","order":1,"disp":true,"width":"6","collapse":false},{"id":"41ca5319.82848c","type":"ui_tab","name":"Lab2","icon":"dashboard","order":1,"disabled":false,"hidden":false}]