Node-RED_Flows/NodeRED_Lab2_Flows.json
[{"id":"d4fe6b8.e9f1d98","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4a463963.462948","type":"inject","z":"d4fe6b8.e9f1d98","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":".5","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":320,"wires":[["7b7a559e.ba1e2c"]]},{"id":"dcb39dfe.e0b7a","type":"ui_gauge","z":"d4fe6b8.e9f1d98","name":"","group":"911e1c43.9ced2","order":0,"width":0,"height":0,"gtype":"gage","title":"Gregory Voltage","label":"V","format":"{{value}}","min":0,"max":"15","colors":["#ff0000","#e6e600","#00b500"],"seg1":"","seg2":"","x":700,"y":320,"wires":[]},{"id":"7b7a559e.ba1e2c","type":"file in","z":"d4fe6b8.e9f1d98","name":"","filename":"/tmp/thedata.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":460,"y":320,"wires":[["dcb39dfe.e0b7a","c09df119.4fb02"]]},{"id":"c09df119.4fb02","type":"ui_chart","z":"d4fe6b8.e9f1d98","name":"","group":"911e1c43.9ced2","order":1,"width":0,"height":0,"label":"Gregory Voltage vs Time","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"11","ymax":"13","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":730,"y":380,"wires":[[]]},{"id":"911e1c43.9ced2","type":"ui_group","name":"A","tab":"41ca5319.82848c","order":1,"disp":true,"width":"6","collapse":false},{"id":"41ca5319.82848c","type":"ui_tab","name":"Lab2","icon":"dashboard","order":1,"disabled":false,"hidden":false}]